.container-fluid {

    background-color: black;
    width: 100½;
    height: 80%;
    padding: 0.8rem;


    a {
        color: white;
        text-decoration: none;
        line-height: 0.5rem;
    }
    
}
.dropdown-menu {
    background-color: grey;
}

#searchBtn {    
    margin-right: 5px;
}